version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: alif_admin
      POSTGRES_USER: alif_admin
      POSTGRES_PASSWORD: alif_admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
